## If....Else

In [1]:
a = 30
b = 10

if a > b:
    print("a is greater")

a is greater

In [2]:
if a < b:
    print("a is less")
else:
    print("a is greater")

a is greater

In [3]:
if a < b:
    print("a is less")
elif a == b:
    print("a is equal")
else:
    print("a is greater")

a is greater

In [4]:
if a > b: print("a is great")

a is great

In [5]:
print("a is less") if a < b else print("a is great")

a is great

In [6]:
print("a is less") if a < b else print("a is equal") if a == b else print("a is great")

a is great

In [7]:
c = 50
if a > b and b < c:
    print("T")
    
# both true the True

T

In [8]:
if a > b and b > c:
    print("T")
else:
    print("F")

F

In [9]:
if a > b or b > c:
    print("T")
    
# either one is true

T

In [10]:
if a < b or b > c:
    print("T")
else:
    print("F")

F

In [11]:
a

30

In [12]:
if a > 10:
    print("Above ten")
    if a > 15:
        print("above 15")
    else:
        print("between 10 - 15")

Above ten
above 15

In [13]:
#pass - if can't be empty, so somehow if with no content, put "pass"  to avoid error
if a > b:
    pass

## while

In [14]:
i = 0
while i < 6:
    print(i)
    i = i + 1

0
1
2
3
4
5

In [15]:
A = 12345
i = 0 
while A > 0:
    r = A % 10
    i = (i * 10) + r
    A = A // 10
    
print(i)

54321

In [16]:
# break - to stop the loop

i = 0
while i < 6:
    print(i)
    if i == 4:
        break
    i = i + 1

0
1
2
3
4

In [17]:
# continue - stop the current iteration and continue with next

i = 0
while i < 6:
    i = i + 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [18]:
i = 0
while i < 10:
    i = i + 1
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [19]:
i = 0
while i < 6:
    print(i)
    i = i + 1
else:
    print("i is no less than 6")

0
1
2
3
4
5
i is no less than 6

In [20]:
i = 6
while i < 6:
    print(i)
    i = i + 1
else:
    print("i is no less than 6")

i is no less than 6

## for

In [21]:
x = ["a", "b", "c", "d", "e"]

for i in x:
    print(i)

a
b
c
d
e

In [22]:
for i in "c":
    print(i)

c

In [23]:
for i in x:
    print(i)
    if i == "c":
        break

a
b
c

In [24]:
x = ["a", "b", "c", "d", "e"]

for i in x:
    if i == "c":
        break
    print(i)

a
b

In [25]:
x = ["a", "b", "c", "d", "e"]
for i in x:
    if i == "c":
        continue
    print(i)

a
b
d
e

In [26]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [27]:
for i in range(2,8):
    print(i)

2
3
4
5
6
7

In [28]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [29]:
for i in range(6):
    print(i)
else:
    print("yes")

0
1
2
3
4
5
yes

In [30]:
for i in range(10):
    if i == 4:
        break
    print(i)
else:
    print("yes")

0
1
2
3

## function

* The syntax for function definition is
       
       def NAME( PARAMETERS ):
            """ Docstring """
            STATEMENTS
       [return]

* A function must be defined before its first use

* The return statement is used to return a value from function.

* If a function does not have return statement , it is considered as a Procedure

* If a function has to return multiple values , tuples are preferred

* Sample function call
        
        name = my_func (arg1, arg2, arg =â€˜Default')

In [31]:
def my_function():
    print("Yes")
    
my_function()

Yes

In [32]:
def my_function(name):
    print(name  + "Reee" )
    
my_function("Jay")

JayReee

In [33]:
my_function("Oh my ")

Oh my Reee

In [34]:
# parameter and argrument can be used for same thing
# parameter - variable listed inside the parentheses in function definitation
# argumnets - value that is sent to function when it called.

In [35]:
# 2 arguments

def my_function(fname, lname):
    print(fname + " " + lname)
    
my_function("Jay", "Ro")

Jay Ro

In [36]:
my_function("Jay")

TypeError: my_function() missing 1 required positional argument: 'lname'

In [37]:
# arbitrary argumnets - *args

def my_function(*name):
    print("Students name " + name[2])
    
my_function("jay", "rao", "sam")

Students name sam

In [38]:
def my_function(*name):
    print("Students name " + name[1])
    
my_function("jay", "rao", "sam")

Students name rao

In [39]:
def my_function(*name):
    print("Students name " + name[0])
    
my_function("jay", "rao", "sam")

Students name jay

In [40]:
def my_function(n1, n2, n3):
    print("Students name " + n2)
    
my_function("jay", "rao", "sam")

Students name rao

In [41]:
def my_function(**name):
    print("Students name " + name["lname"])
    
my_function(fname = "jay", lname = "rao")

Students name rao

In [42]:
def my_function(**name):
    print("Students name " + name["fname"] + name["lname"])
    
my_function(fname = "jay", lname = "rao")

Students name jayrao

In [43]:
#default parameter

def my_function(name = "jay"):
    print("Student name  is " + name)
    
my_function("rao")

Student name  is rao

In [44]:
my_function()

Student name  is jay

In [45]:
# list an argument

def my_function(name):
    for i in name:
        print(i)
j = ["a", "b", "c", "d", "g"]    
my_function(j)

a
b
c
d
g

In [46]:
def my_function(x):
    return 5 * x

print(my_function(3))
print(my_function(6))

15
30

In [47]:
def my_function():
    pass

In [48]:
# recursion - function  can call itself

def my_function(i):
    if i > 0:
        result = i + my_function(i - 1)
        print(result)
    else:
        result = 0
    return result

print("Recursion")
my_function(6)

Recursion
1
3
6
10
15
21

21

##### Adding default values to parameters

In [49]:

def hello(greeting = 'Hello', name = 'world'):
    print ('%s, %s!' % (greeting, name))

hello('Greetings')

Greetings, world!

In [50]:
def hello(greeting = 'Hello', name = 'world'):
    print(greeting + name)

hello("ha", "ho")

haho

In [51]:
def hello(greeting = 'Hello', name = 'world'):
    print('%s, %s!' % (greeting , name))

hello("ha")

ha, world!

##### Using named parameters. In this case the order of the arguments does not matter.

In [52]:

def hello_1(greeting,name):
    print('%s, %s!' % (greeting, name))

hello_1(greeting = "Hey", name = "world")

Hey, world!

In [53]:
def hello_1(greeting,name):
    print('%s, %s!' % (greeting, name))

hello_1(name = "world", greeting = "Hey")

Hey, world!

##### The variable length function parameters allow us to create a function which can accept any number of parameters.

In [54]:
def hello_2(*params):
    print(params)

hello_2("Testing")
hello_2(1,2,3,4)
hello_2(1,2,3,4,5,6,7,8,9,10)

('Testing',)
(1, 2, 3, 4)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

##### Variable named parameters

In [55]:
def hello_3(**params):
    print(params)
    
hello_3(x = 1, y = 2, z = 3)

{'x': 1, 'y': 2, 'z': 3}

In [56]:
hello_3(x = 1)

{'x': 1}

In [57]:
hello_3(x = 1, y = 2, z = 3, a = 4, b = 5, c = 6)

{'x': 1, 'y': 2, 'z': 3, 'a': 4, 'b': 5, 'c': 6}

##### A combination of all of above cases

In [58]:
def hello_4(x, y, z = 1, *params, **key):
    print(x, y, z)
    print(params)
    print(key)
    
hello_4(1,2,3,4,5,6,7, foo = 1, bar = 2)
hello_4(1,2)

1 2 3
(4, 5, 6, 7)
{'foo': 1, 'bar': 2}
1 2 1
()
{}

##### Recursion

In [59]:
def Recursion(i):
    if (i > 0):
        result = i + Recursion(i - 1)
        print(result)
    else:
        result = 0
    return result

Recursion(0)

0

In [60]:
Recursion(1)

1

1

In [61]:
Recursion(2)

1
3

3

In [62]:
Recursion(3)

1
3
6

6

In [63]:
Recursion(4)

1
3
6
10

10

In [64]:
Recursion(5)

1
3
6
10
15

15

In [65]:
Recursion(6)

1
3
6
10
15
21

21

### The Anonymous Functions

* A lambda function is a small anonymous function.

* A lambda function can take any number of arguments, but can only have one expression.

               lambda arguments : expression

In [66]:
x = lambda a : a + 10
print(x(2))
print(x(10))

12
20

In [67]:
x = lambda a, b : a * b
print(x(2,4))

8

In [68]:
x = lambda a, b : a / b
print(x(10,2))

5.0

In [69]:
x = lambda a, b, c : a + b + c
print(x(10,17,26))

53

In [70]:
def myfun(n):
    return lambda a : a * n

double = myfun(2)
print(double(11))

22

In [71]:
triple = myfun(3)
print(triple(11))

33

In [72]:
double = myfun(2)
triple = myfun(3)

print(double(11))
print(triple(11))

22
33