In [1]:
# list
# collection of ordered and chnageable, allow duplicates
x = ["A", "B", "C"]
type(x)

list

In [2]:
#tuple
# collection of ordered and unchnageable, allow duplicates
y = ("A", "B", "C")
type(y)

tuple

In [3]:
#range
z = range(6)
z
type(z)

range

In [4]:
#dict
# collection of ordered and chnageable, no duplicates
a = {"name":"shiv","age":25}
a
type(a)

dict

In [5]:
#set
# collection of unordered, unchnageable and unindexed, no duplicates
b = {"A","B","C"}
b
type(b)

set

In [6]:
#frozenset
c = frozenset({"A","B","C"})
c
type(c)

frozenset

In [7]:
#bytes
d = b"Hello"
d
type(d)

bytes

In [8]:
#bytearray
e = bytearray(5)
e
type(e)

bytearray

In [9]:
#memoryview
f = memoryview(bytes(5))
f
type(f)

memoryview

In [10]:
g = -35.26
type(g)

float

In [11]:
int(g)

-35

In [12]:
complex(g)

(-35.26+0j)

In [13]:
#printing random no b/w 1 to 10
import random
print(random.randrange(1,10))

3

In [14]:
h = int("3")
h = float("3")
h

3.0

In [15]:
i = "Hello world!"
print(i[0])
print(i[-1])
print(i[:])
print(i[::])
print(i[::-1])
print(i[2:5])
print(i[:5])
print(i[2:])
print(i[-5:-2])
print(i[2::])

H
!
Hello world!
Hello world!
!dlrow olleH
llo
Hello
llo world!
orl
llo world!

In [16]:
len(i)

12

In [17]:
#checking character present in the string or not
print("o" in i)
print("O" in i)
if "o" in i:
    print("Yes")
    
print("a" not in i)
print("H" not in i)

True
False
Yes
True
False

In [18]:
print(i.upper())
print(i.lower())
print(i.strip()) #remove any blank space from the beginning or the end
print(i.replace("o", "O"))
print(i.split(" ")) #splits the srting into substrings

HELLO WORLD!
hello world!
Hello world!
HellO wOrld!
['Hello', 'world!']

In [19]:
j = "How are you ? {}"
print(i + j)
print(i + " " + j)

Hello world!How are you ? {}
Hello world! How are you ? {}

In [20]:
age = 19
print(j.format(age)) #format is used to insert no into string but string has to {} inside the string

How are you ? 19

In [21]:
quantity = 2
item = 4
price = 65.98
order = "I want {} piece of item {} for {} pound"
print(order.format(quantity,item,price))

myorder = "I want {0} piece of item {1} for {2} pound"
print(myorder.format(quantity,item,price))

I want 2 piece of item 4 for 65.98 pound
I want 2 piece of item 4 for 65.98 pound

In [22]:
orders = "I want \'s piece of item \'s for \n pound"
print(orders)

I want 's piece of item 's for
 pound

In [23]:
print(i.capitalize())  #convert first letter to upper case
print(i.center(20))  #centre the string
print(i.count("o")) #count the no of times a word appears
print(i.encode())   #encoded version of srting
print(i.endswith("!"))  #true if string ends with that character
print(i.endswith("a"))
print(i.find("w")) #returned the position of that character

Hello world!
    Hello world!
2
b'Hello world!'
True
False
6

In [24]:
print(10>9)
print(10<=9)
print(10!=9)
print(bool("Hello"))
print(bool(567))

True
False
True
True
True

In [25]:
#function that return  boolean value
def myFunction():
    return True

print(myFunction())

True

In [26]:
# print yes if function return true otherwise false
def myFunction():
    return True
if myFunction():
    print("Yes")
else:
    print("no")
    
myFunction()

Yes

True

In [27]:
print(10/2)
print(10%2) #remainder
print(10**2)
print(10//2) #div

5.0
0
100
5

In [28]:
k = 5
k &= 3 # k = k & 3   # $ AND - set each bit to 1 if both bits are 1
print(k)

k |= 3     # | OR - sets each bit to 1 if one of two bits is 1
print(k)

k ^=3      # ^ XOR - sets each bit to 1 if only one of two bits is 1
print(k)

k >>=3     # signed right shift
print(k)

k <<=3  #   << Zero fill left shift
print(k)

1
3
0
0
0

## List

In [29]:
x

['A', 'B', 'C']

In [30]:
print(type(x))
print(len(x))
print(x[:2:])
print(x[::-1]) # reverse the list
x[2] = "D"
print(x)
x[0:2] = ["X", "Y", "Z"]
print(x)

<class 'list'>
3
['A', 'B']
['C', 'B', 'A']
['A', 'B', 'D']
['X', 'Y', 'Z', 'D']

In [31]:
print((x.insert(2, "G")))  #insert an item at specified index
x

None

['X', 'Y', 'G', 'Z', 'D']

In [32]:
x.append("A") # append to add an item at last
x

['X', 'Y', 'G', 'Z', 'D', 'A']

In [33]:
x1 = ["A", "B", "C", "D", "E", "F", "G"]
x.extend(x1)     # append elements from another list to current list
print(x)

['X', 'Y', 'G', 'Z', 'D', 'A', 'A', 'B', 'C', 'D', 'E', 'F', 'G']

In [34]:
x.extend(y) # append elements from tuple
print(x)

['X', 'Y', 'G', 'Z', 'D', 'A', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'A', 'B', 'C']

In [35]:
x.remove("D") #remove
print(x)

['X', 'Y', 'G', 'Z', 'A', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'A', 'B', 'C']

In [36]:
x.pop(1)   # pop - remove using index value
print(x)

['X', 'G', 'Z', 'A', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'A', 'B', 'C']

In [37]:
del x[0]  # del - delete = removes the specified index
print(x)

['G', 'Z', 'A', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'A', 'B', 'C']

In [38]:
#x.clear()  #empty the list
#print(x)

In [39]:
x

['G', 'Z', 'A', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'A', 'B', 'C']

In [40]:
for i in x:
    print(i)

G
Z
A
A
B
C
D
E
F
G
A
B
C

In [41]:
# list items by refering to their index number
for i in range(len(x)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12

In [42]:
l = 0
while l <len(x):
    print(x[l])
    l = l + 1

G
Z
A
A
B
C
D
E
F
G
A
B
C

In [43]:
l = 0
while l <len(x):
    print(x[-l])
    l = l + 1

G
C
B
A
G
F
E
D
C
B
A
A
Z

In [44]:
[print(i) for i in x]

G
Z
A
A
B
C
D
E
F
G
A
B
C

[None, None, None, None, None, None, None, None, None, None, None, None, None]

In [45]:
# list comprehension
# create an empty list then append the speificed character
newlist = []
for i in x:
    if "A" in i:
        newlist.append(i)

print(newlist)

['A', 'A', 'A']

In [46]:
new = [i for i in x if "A" in i]
print(new)

['A', 'A', 'A']

In [47]:
# syntax
# newlist = [expression for item in iterable if condition == True] 
# return value a new list with leaving old list unchanged

newlist = [i for i in x if i != "D"]
print(newlist)

['G', 'Z', 'A', 'A', 'B', 'C', 'E', 'F', 'G', 'A', 'B', 'C']

In [48]:
newlist1 = [i for i in range(10)]
print(newlist1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
newlist2 = [i for i in range(10) if i <5]
print(newlist2)

[0, 1, 2, 3, 4]

In [50]:
x.sort() # sorting assending
print(x)

['A', 'A', 'A', 'B', 'B', 'C', 'C', 'D', 'E', 'F', 'G', 'G', 'Z']

In [51]:
X = [100, 30, 20, 4, 70, 43, 78, 44, 22, 14, 90]
X.sort()                   # sorting
X.sort(reverse = True)     # sorting descending
X

[100, 90, 78, 70, 44, 43, 30, 22, 20, 14, 4]

In [52]:
Y = ["Apple", "cherry", "Banana", "orange"]
Y.sort()
Y.sort(key = str.lower)
Y.reverse()
Y

['orange', 'cherry', 'Banana', 'Apple']

In [53]:
X.reverse() 
X[::-1]

#both use for reverses the order of elements

[100, 90, 78, 70, 44, 43, 30, 22, 20, 14, 4]

In [54]:
my_list = X.copy()  # Copy
print(my_list)

[4, 14, 20, 22, 30, 43, 44, 70, 78, 90, 100]

In [55]:
list1 = x + X  # joining the lists
print(list1)

list2 = x + Y
print(list2)

['A', 'A', 'A', 'B', 'B', 'C', 'C', 'D', 'E', 'F', 'G', 'G', 'Z', 4, 14, 20, 22, 30, 43, 44, 70, 78, 90, 100]
['A', 'A', 'A', 'B', 'B', 'C', 'C', 'D', 'E', 'F', 'G', 'G', 'Z', 'orange', 'cherry', 'Banana', 'Apple']

In [56]:
#joining the list using append
for i in list2:
    list1.append(i)
    
print(list1)

['A', 'A', 'A', 'B', 'B', 'C', 'C', 'D', 'E', 'F', 'G', 'G', 'Z', 4, 14, 20, 22, 30, 43, 44, 70, 78, 90, 100, 'A', 'A', 'A', 'B', 'B', 'C', 'C', 'D', 'E', 'F', 'G', 'G', 'Z', 'orange', 'cherry', 'Banana', 'Apple']

In [57]:
# joining the list using extend
list1.extend(list2)
print(list1)

['A', 'A', 'A', 'B', 'B', 'C', 'C', 'D', 'E', 'F', 'G', 'G', 'Z', 4, 14, 20, 22, 30, 43, 44, 70, 78, 90, 100, 'A', 'A', 'A', 'B', 'B', 'C', 'C', 'D', 'E', 'F', 'G', 'G', 'Z', 'orange', 'cherry', 'Banana', 'Apple', 'A', 'A', 'A', 'B', 'B', 'C', 'C', 'D', 'E', 'F', 'G', 'G', 'Z', 'orange', 'cherry', 'Banana', 'Apple']

## Tuples

In [58]:
y

('A', 'B', 'C')

In [59]:
print(type(y))
print(len(y))

<class 'tuple'>
3

In [60]:
print(y[0])
print(y[1])
print(y[2])
print(y[-1])
print(y[::-1])

A
B
C
C
('C', 'B', 'A')

In [61]:
# update tuple
# tuple are unchnageable/immutable so convert it to list then add then back to tupple
A = list(y)
A[1] = "K"
y = tuple(A)
print(y)

('A', 'K', 'C')

In [62]:
# adding a tuple to a tuple
B = ("B",)
y = y + B
print(y)

('A', 'K', 'C', 'B')

In [63]:
# removing the element from tuple
C = list(y)
C.remove("B")
y = tuple(C)
print(y)

('A', 'K', 'C')

In [64]:
# removing element from tuple using del
#del y
#print(y)
# tuple y is deleted

In [65]:
# unpacking a tuple - when creating a tuple, assign a value to it called packing a tuple

y
(Apple, Kiwi, Car) = y
print(Apple)
print(Kiwi)
print(Car)

A
K
C

In [66]:
D = ("A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L")
(apple, green, red, *yellow) = D
print(apple)
print(green)
print(red)
print(yellow)

A
B
C
['D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L']

In [67]:
(apple, green, *red, yellow) = D
print(apple)
print(green)
print(red)
print(yellow)

A
B
['C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K']
L

In [68]:
for i in D:
    print(i)

A
B
C
D
E
F
G
H
I
J
K
L

In [69]:
for i in range(len(D)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [70]:
I = 0
while I < len(D):
    print(D[I])
    I = I + 1

A
B
C
D
E
F
G
H
I
J
K
L

In [71]:
I = 0
while I < len(D):
    print(D[-I])
    I = I + 1

A
L
K
J
I
H
G
F
E
D
C
B

In [72]:
tuple = y + D
print(tuple)

tuple1 = tuple * 2
print(tuple1)

('A', 'K', 'C', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L')
('A', 'K', 'C', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'A', 'K', 'C', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L')

In [73]:
count = tuple1.count("A")
print(count)

4

In [74]:
inde = tuple1.index("J")
print(inde)

12

## Sets

In [75]:
b

{'A', 'B', 'C'}

In [76]:
type(b)

set

In [77]:
# duplicates not allowed
b = {"A", "B", "C", "D", "A"}
print(b)
print(len(b))

{'A', 'D', 'C', 'B'}
4

In [78]:
set1 = {"A", 23, "True", 22, "B", 0}
print(set1)
type(set1)

{0, 'B', 'True', 22, 23, 'A'}

set

In [79]:
set2 = set((tuple1))
print(set2)
#duplicates not allowed

{'I', 'D', 'F', 'B', 'K', 'L', 'H', 'C', 'G', 'J', 'A', 'E'}

In [80]:
for i in set2:
    print(i)

I
D
F
B
K
L
H
C
G
J
A
E

In [81]:
print("F" in set2)
print("A" in set2)

True
True

In [82]:
# adding set items

set2.add("apple")
print(set2)

{'I', 'D', 'F', 'B', 'K', 'L', 'H', 'C', 'G', 'apple', 'J', 'A', 'E'}

In [83]:
# adding two sets b and set2 using update
b.update(set2)
print(b)

{'D', 'B', 'L', 'C', 'J', 'A', 'E', 'I', 'F', 'K', 'H', 'G', 'apple'}

In [84]:
# remove
b.remove("C")
print(b)

{'D', 'B', 'L', 'J', 'A', 'E', 'I', 'F', 'K', 'H', 'G', 'apple'}

In [85]:
# remove using discard
b.discard("G")
print(b)

{'D', 'B', 'L', 'J', 'A', 'E', 'I', 'F', 'K', 'H', 'apple'}

In [86]:
# reomove using pop
#re = b.pop("I")
#print(re)
#print(b)

In [87]:
# clear - emppties the set
b.clear()
print(b)

set()

In [88]:
# del - delete the set completely
del set1
print(set1)

NameError: name 'set1' is not defined

In [89]:
set2

for i in set2:
    print(i)

I
D
F
B
K
L
H
C
G
apple
J
A
E

In [90]:
set3 = {"a", "b", "c"}

# join the sets

set4 = set2.union(set3)
print(set4)

{'I', 'D', 'F', 'B', 'K', 'L', 'H', 'a', 'C', 'G', 'c', 'b', 'apple', 'J', 'A', 'E'}

In [91]:
# update - to insert the sets

set2.update(set3)
print(set2)

{'I', 'D', 'F', 'B', 'K', 'L', 'H', 'a', 'C', 'G', 'c', 'b', 'apple', 'J', 'A', 'E'}

In [92]:
# both union and update exclude any duplicate items

In [93]:
# keeping duplicates

set2.intersection_update(set3)
print(set2)

{'b', 'a', 'c'}

In [94]:
set4.intersection_update(set2)
print(set4)

{'c', 'a', 'b'}

In [95]:
set4.intersection(set2)
print(set4)

{'c', 'a', 'b'}

In [96]:
# keep all not duplicates

set4.symmetric_difference_update(set3)
print(set4)

set()

## Dictionary

In [97]:
a

{'name': 'shiv', 'age': 25}

In [98]:
print(type(a))
print(a["name"])
print(a["age"])

<class 'dict'>
shiv
25

In [99]:
a = {"name":["shiv", "jay", "rao", "jai"],
    "age":[24, 45, 23, 45],
    "car": ["Honda", "Honda", "maruti", "Bmw"],
    "car": ["H", "H", "M", "M"]}

print(a)

{'name': ['shiv', 'jay', 'rao', 'jai'], 'age': [24, 45, 23, 45], 'car': ['H', 'H', 'M', 'M']}

In [100]:
# duplicates not allowed

In [101]:
print(a["name"])
print(a["age"])
print(a["car"])

['shiv', 'jay', 'rao', 'jai']
[24, 45, 23, 45]
['H', 'H', 'M', 'M']

In [102]:
R = a.get("name")
R

['shiv', 'jay', 'rao', 'jai']

In [103]:
U = a.keys()
U

dict_keys(['name', 'age', 'car'])

In [104]:
# add new item

a["height"] = ["20", "30", "40", "50"]
print(a)

{'name': ['shiv', 'jay', 'rao', 'jai'], 'age': [24, 45, 23, 45], 'car': ['H', 'H', 'M', 'M'], 'height': ['20', '30', '40', '50']}

In [105]:
T = a.values()
T

dict_values([['shiv', 'jay', 'rao', 'jai'], [24, 45, 23, 45], ['H', 'H', 'M', 'M'], ['20', '30', '40', '50']])

In [106]:
# items - return each item in dict as tuple in a list

Get = a.items()
Get

dict_items([('name', ['shiv', 'jay', 'rao', 'jai']), ('age', [24, 45, 23, 45]), ('car', ['H', 'H', 'M', 'M']), ('height', ['20', '30', '40', '50'])])

In [107]:
type(Get)

dict_items

In [108]:
a["age"] = ["42", "54", "76", "65"]
print(a)

{'name': ['shiv', 'jay', 'rao', 'jai'], 'age': ['42', '54', '76', '65'], 'car': ['H', 'H', 'M', 'M'], 'height': ['20', '30', '40', '50']}

In [109]:
# update - update the values

a["age"] = [24, 45, 23, 45]
print(a)

{'name': ['shiv', 'jay', 'rao', 'jai'], 'age': [24, 45, 23, 45], 'car': ['H', 'H', 'M', 'M'], 'height': ['20', '30', '40', '50']}

In [110]:
# remove
# pop - remove the specified key name
a.pop("height")
print(a)

{'name': ['shiv', 'jay', 'rao', 'jai'], 'age': [24, 45, 23, 45], 'car': ['H', 'H', 'M', 'M']}

In [111]:
# popitem - remove last inserted item
a.popitem()
print(a)

{'name': ['shiv', 'jay', 'rao', 'jai'], 'age': [24, 45, 23, 45]}

In [112]:
# del - remove the item with specified key name
del a["age"]
print(a)

{'name': ['shiv', 'jay', 'rao', 'jai']}

In [113]:
#clear - empty the dictionary
#a.clear()
#print(a)

In [114]:
a = {"name":["shiv", "jay", "rao", "jai"],
    "age":[24, 45, 23, 45],
    "car": ["Honda", "Honda", "maruti", "Bmw"],
    "car": ["H", "H", "M", "M"]}

print(a)

{'name': ['shiv', 'jay', 'rao', 'jai'], 'age': [24, 45, 23, 45], 'car': ['H', 'H', 'M', 'M']}

In [115]:
#for key
for i in a:
    print(i)

name
age
car

In [116]:
#for values
for i in a:
    print(a[i])

['shiv', 'jay', 'rao', 'jai']
[24, 45, 23, 45]
['H', 'H', 'M', 'M']

In [117]:
for i in a.values():
    print(i)

['shiv', 'jay', 'rao', 'jai']
[24, 45, 23, 45]
['H', 'H', 'M', 'M']

In [118]:
for i in a.keys():
    print(i)

name
age
car

In [119]:
for i,j in a.items():
    print(i,j)

name ['shiv', 'jay', 'rao', 'jai']
age [24, 45, 23, 45]
car ['H', 'H', 'M', 'M']

In [120]:
# copy
newdict = a.copy()
print(newdict)

{'name': ['shiv', 'jay', 'rao', 'jai'], 'age': [24, 45, 23, 45], 'car': ['H', 'H', 'M', 'M']}

In [122]:
# copy
newdict1 = dict(a)
print(newdict1)

{'name': ['shiv', 'jay', 'rao', 'jai'], 'age': [24, 45, 23, 45], 'car': ['H', 'H', 'M', 'M']}